.modal-box.open .modal-overlay, .modal-box.open .modal-window {
  opacity: 1;
  z-index: 100;
}

.modal-box.hide .modal-overlay, .modal-box.hide .modal-window {
  opacity: 1;
  z-index: 100;
}

.modal-box.open .modal-window {
  transform: translateY(100px);
}

.modal-box.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal-box.hide .modal-window {
  transform: translateY(-200px);
}

.modal-box.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal-overlay, .modal-window {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease-out;
}

.modal-window {
  width: 600px;
  border-radius: 5px;
  background: #ffffff;
  margin: 0px auto;
  transform: translateY(-200px);
  transition: transform 0.2s ease-out;
}

.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 10px;
}

.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  padding: 5px 10px;
  border-top: 1px solid #eeeeee;
}